# PRIMER ENTORNO PYTHON

In [4]:
print('Hola Mundo')

Hola Mundo

In [7]:
# Este es un comentario inline

In [ ]:
def funcion():
    """
        Comentario de varios lineas
        argumentos:
            - 
            - 
        resultados:
            -
            -
    """

'\n    Comentario de varios bloques\n    1\n    1\n    2\n    3\n    4\n'

In [ ]:
print('3') # Comentario inline

In [ ]:
# Validacion de numeros 
if 2 < 3:
    print('2 es menor que 3')
    print('2 es menor que 3')
    print('2 es menor que 3')
    print('2 es menor que 3')

# Variables

In [1]:
caja1 = 123

In [2]:
v1 = 4.0

nombre = "Cesar Gabriel"

edad = 10

In [7]:
print(edad)
print(nombre)

10
Cesar Gabriel

In [9]:
type(edad)

int

In [15]:
a = str("4")
b = int(5)
c = float(2.3)

In [16]:
print(a)
print(b)
print(c)

4
5
2.3

In [17]:
x, y , z = 'Orange', 'Banana', 'Cherry'

In [18]:
z

'Cherry'

In [19]:
a = b = c = 12
print(a)
print(b)
print(c)

12
12
12

# Tipos de Datos

In [21]:
# String

nombres = "Cesar Gabriel"

Cesar Gabriel
01234567890
print(nombres)

Cesar Gabriel

In [23]:
nombres[2:5]

'sar'

# Numericos

In [24]:
int_num = 10
float_num = 10.2
complex_num = 3.14j

In [27]:
complex_num

3.14j

# Listas

In [33]:
my_list_1 = [3, 5, 2]

print(my_list_1)
print(type(my_list_1))

my_list_2 = []
print(my_list_2)
print(type(my_list_2))

# Lista mixta
my_list_3 = [3, "Hola", 4.45]
print(my_list_3)
print(type(my_list_3))

# Lista Anidada
my_list_4 = ['apple', [3, ['a', 2, 2.5], 8], 'x']
print(my_list_4)
print(type(my_list_4))

[3, 5, 2]
<class 'list'>
[]
<class 'list'>
[3, 'Hola', 4.45]
<class 'list'>
['apple', [3, ['a', 2, 2.5], 8], 'x']
<class 'list'>

In [34]:
my_list_4.insert(1,30)
print(my_list_4)
print(type(my_list_4))

['apple', 30, [3, ['a', 2, 2.5], 8], 'x']
<class 'list'>

In [37]:
my_list = ['a', 'b,' 'c', 'd', 'e', 'f', 'g', 'h', 'i']

print(my_list[2:5])

print(my_list[5:])

['d', 'e', 'f']
['g', 'h', 'i']

# tupla

In [40]:
my_tuple = ()
print(my_tuple)


my_tuple=(3, 2, 5)
print(my_tuple)

my_tuple=(3, 'hello', 5)
print(my_tuple)

()
(3, 2, 5)
(3, 'hello', 5)

# Diccionario

In [43]:
my_dict = {}

print(my_dict)


my_dict = dict({
    1: 'apple',
    2: 'pera'
})
print(my_dict)

{}
{1: 'apple', 2: 'pera'}

In [50]:
my_dict = {
    'name': 'Jack',
    'age': 26,
    'color': 'red'
}

print(my_dict['name'])

print(my_dict.get('color', 0))

Jack
red

In [51]:
my_dict['name'] = 'Fernando'

In [53]:
print(my_dict)

{'name': 'Fernando', 'age': 26, 'color': 'red'}

In [54]:
my_dict['address'] = 'Dowtown'

In [55]:
print(my_dict)

{'name': 'Fernando', 'age': 26, 'color': 'red', 'address': 'Dowtown'}

In [57]:
#iterrar
for key, value in my_dict.items():
    print(f'El valor de la llave {key} es {value}')

El valor de la llave name es Fernando
El valor de la llave age es 26
El valor de la llave color es red
El valor de la llave address es Dowtown